############################################################
#                _____           _ _                       #
#               |  __ \         | (_)                      #
#               | |__) |__ _  __| |_  ___                  #
#               |  _  // _` |/ _` | |/ _ \                 #
#               | | \ \ (_| | (_| | | (_) |                #
#               |_|  \_\__,_|\__,_|_|\___/                 #
#                                                          #
#          This is the configuration for Radio...          #
#            https://github.com/toadless/radio             #
# If you have any questions ask toadless#0001 on discord!  #
############################################################

# The port that Radio's webserver is going to run on, this isn't important...!
port: 4444

# The default prefix for Radio when added to a new server...
prefix: "r!"

# The token required for Radio to log in... (get it here: https://discord.com/developers/applications)
token: "token"

# User IDs with access to developer commands (eval, shutdown, etc...)
privileged-users:
  - "your-user-id"

# Credentials to make requests to spotify with (get them here: https://developer.spotify.com/dashboard/applications)
spotify:
  id: "spotify-id"
  secret: "spotify-secret"

# Credentials to connect to a postgresql database...
database:
  username: "username"
  password: "password"
  url: "jdbc:postgresql://address:port/db"
  driver: "org.postgresql.Driver" # Dont touch this, Radio has only been designed to use a postgresql db!